{% extends 'task/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="d-grid gap-2 col-6 mx-auto bg-">
  <form method="POST" action="/">
    {% csrf_token %}
    <input type="hidden" name="action" value="add_record">
    {{ form.as_p }}
  

  <div class="d-grid gap-2 col-12 mx-auto">
    <button type="submit" class="btn btn-primary" type="button">Add Project</button>
  </div>
  
  </form>
  
  
</div>
<br>

<!------List---->

  {% if projects %}
        {% for project in projects %}
        <div class="d-flex justify-content-center p-2">
          <div class="card d-grid gap-2 col-6 mx-auto">
            <div class="card-header">
              <h5 class="">{{ project.title}} {% if project.completed %} (Completed){% endif %} </h5>
              <p>Deadline: {{ project.date}}</p>
              <p style="color:red;">{% if project.deadline and not project.completed %}Deadline crossed!{% endif %}</p>
            </div>
            <div class="card-body">
              <p class="card-text">{{ project.description }} </p>
              <a href="{% url 'task_List' project.id %}" class="btn btn-primary" >Open</a>
              <a href="{% url 'delete_record' project.id %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
    
  {% endif %}



{% else %}
<div>
    <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <br>
    
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
    
            
                <div class="mb-3">
                  
                  <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                  
                  <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                
                <br>
    
                <button type="submit" class="btn btn-secondary">Login</button>
              
    
        </form>
</div>

{% endif %}
{% endblock %}